TZ = "US/Eastern"
ACME_SERVER = "https://acme-v02.api.letsencrypt.org/directory"
PUID = 0
PGID = 0
NGINX_LOG_NOT_FOUND = true # Log 404 errors to the docker logs, unrelated to access logs.
LOGROTATE = true # Enables writing http access logs to /opt/npmplus/nginx/logs/access.log, stream access logs to /opt/npmplus/nginx/logs/stream.log and enables daily logrotation.
LOGROTATIONS = 7 # Set how often the access.log should be rotated until it is deleted.
INITIAL_ADMIN_EMAIL = "admin@example.org" # email to use instead of admin@example.org on first start of NPMplus for the initial user
INITIAL_ADMIN_PASSWORD = "changeme" # password to use instead of a random password which is logged on first start of NPMplus for the initial user
